

// Hässlicher Hack, da das Feld sonst mit 300px Breite angezeigt wird.
.components-panel__body .block-editor-url-input input {
  width: 100% !important;
}

.ctx-image-holder {
  position: relative;
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.caption {
    color: #555;
    font-size: 13px;
    text-align: center;
}

.ctx-round-corners {
  border-radius: 20px;
}

.ctx-flip-image {
  transform: scaleX(-1);
}


.ctx-border-image {
    border: 7px solid #fff;
}

.ctx-round-image {
    border-radius: 50%;
	aspect-ratio: 1/1 !important;
    object-fit: cover;
}

.ctx-shadow-image {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}