

// Hässlicher Hack, da das Feld sonst mit 300px Breite angezeigt wird.
.components-panel__body .block-editor-url-input input {
  width: 100% !important;
}

.ctx-image-holder {
  position: relative;
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.caption {
    color: #555;
    font-size: 13px;
    text-align: center;
}

.ctx-round-corners {
  border-radius: 20px;
}

.ctx-flip-image {
  transform: scaleX(-1);
}