// Hässlicher Hack, da das Feld sonst mit 300px Breite angezeigt wird.

.ctx\:image {
	position: relative;
	max-width: 100%;
	width: 100%;

	img {
		border-radius: inherit;
		width: 100%;
		box-sizing: border-box;
	}

	&--left {
		picture,
		figure {
			justify-content: flex-start;
		}
	}

	&--right {
		picture,
		figure {
			justify-content: flex-end;
		}
	}

	&--center {
		picture,
		figure {
			justify-content: center;
		}
	}

	&__caption {
		color: #555;
		font-size: 13px;
		text-align: center;
	}

	&--circle {
		border-radius: 999px;
	}

	&--shadow {
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	}

	&--flip img {
		transform: scaleX(-1);
	}
}
