/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


// Ugly Hack to limit URL input width.
.components-panel__body .block-editor-url-input input {
    width: 100% !important;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    box-shadow: 0px 3px 20px #000;
    z-index: 999;
}



.ctx-button.large {
    padding: 10px 40px !important;
    font-size: 1.3rem !important;
}

.ctx-button.small {
    padding: 0 15px !important;
    line-height: 28px !important;
    font-size: 0.7rem !important;
}