@for $i from 1 through 6 {
	.grid--columns-#{$i} {
		grid-template-columns: repeat($i, minmax(0, 1fr));
	}

	.grid__column--span-#{$i} {
		grid-column: span $i/span $i;
	}
}

@for $i from 1 through 6 {
	@media (min-width: 768px) {
		.md\:grid__column--span-#{$i} {
			grid-column: span $i/span $i;
		}
	}

	@media (min-width: 768px) {
		.md\:grid--columns-#{$i} {
			grid-template-columns: repeat($i, minmax(0, 1fr));
		}
	}
}

@for $i from 1 through 6 {
	@media (min-width: 1280px) {
		.xl\:grid__column--span-#{$i} {
			grid-column: span $i/span $i;
		}
	}

	@media (min-width: 1280px) {
		.xl\:grid--columns-#{$i} {
			grid-template-columns: repeat($i, minmax(0, 1fr));
		}
	}
}
