@media (min-width: 1024px) {
	.lg\:grid {
		display: grid;
	}
}

.grid {
	display: grid;
	gap: 1.5rem;

	> * {
		min-width: 0;
	}

	&__column {
		margin-block-start: 0 !important;
	}
}

.equalizer > div {
	display: flex;
	flex-direction: column;
}

.equalizer .card {
	height: 100%;
}

.equalizer {
	h1 {
		margin: 1.5rem;
		line-height: 4.5rem;
	}

	h2,
	h3 {
		margin: 0;
		line-height: 3rem;
	}

	h4,
	h5 {
		margin: 0;
		line-height: 1.5rem;
	}

	li {
		padding: 0;
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	p {
		margin-bottom: 1.5rem;
	}
}
