@media (min-width: 1024px) {
	.lg\:grid {
		display: grid;
	}
}

.grid {
	display: grid;
	gap: 1.5rem;

	> * {
		min-width: 0;
	}

	&__column {
		margin-block-start: 0 !important;
	}

	&--equalizer > .grid__column {
		height: 100%;
	}
}
