.components-datetime {
	padding: 0;
}

.ctx-description__item {
	display: flex;
	align-items: center;

	img {
		width: 3.5rem;
		height: 3.5rem;

		&.round {
			border-radius: 999px;
		}
	}
	p {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.ctx-description__content {
		flex: 1;
	}
}

.ctx-has-icon .ctx-description__icon {
	background: #ccc;
	color: #444;
}

.ctx-round-icon .ctx-description__icon {
	border-radius: 999px;
}

.ctx-description__icon {
	width: 3.5rem;
	margin-right: 1rem;
	height: 3.5rem;
	display: grid;
	place-items: center;

	i {
		font-size: 2.5rem;
	}
}

.ctx-description--divider:not(:last-child) {
	.ctx-description__item {
		border-bottom: 1px solid #bbb;
		padding-bottom: 1rem;
		margin-bottom: -1rem;
	}
}

.ctx-description-item {
	display: flex;
	img {
		width: 70px;
		height: 70px;
		margin-right: 15px;
	}
	.ctx-item-content {
		flex: 1;
	}
}
