.ctx-button-spacer {
	flex: 1;
    height: 2rem;
    /* background: rgba(0,0,0,0.2); */
    background: rgba(0, 0, 0, 0.1);
    line-height: 1.2rem;
    border: 1px dashed rgba(0, 0, 0, 0.3);
	margin-left: 0 !important;
	margin-right: 0 !important;
}