.posts {
    display: grid;
    gap: 10px;
}

.cols-large-1 {
    grid-template-columns: auto;
}

.cols-large-2 {
    grid-template-columns: auto auto;
}

.cols-large-3 {
    grid-template-columns: auto auto auto;
}

.cols-large-4 {
    grid-template-columns: auto auto auto auto;
}

.cols-large-5 {
    grid-template-columns: auto auto auto auto auto;
}

.cols-large-6 .ctx-post {
    grid-column: 1 / 6;
}

.ctx-post {
    display: flex;
    h4 {
        margin-bottom: 0 !important
    }
}

.ctx-image-side  {
    h4 {
        margin-top: 0 !important
    }
    .ctx-post-image {
        flex-shrink: 0;
        margin-right: 20px;;
    }
}
.ctx-image-top {
    .ctx-post {
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        background: #fff;
        img {
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}

.ctx-round-image img {
    border-radius: 100%;
}

.ctx-text-align-center {
    text-align: center;
    .ctx-post-image {
        margin-left: auto;
        margin-right: auto;
    }
}


.ctx-text-align-right {
    text-align: right;
    .ctx-post-image {
        margin-left: auto;
    }
}

.styleSelector Button {
    flex-direction: column;
    height: 70px;
    background: #eee;
    width: 70px;
    border: 2px solid #eee;
    margin-left: 5px;

    &.active {
        border: 2px solid #007cba;
    }
}