.card {
	display: flex;
	position: relative;
	background: #ffffff;

	div.mt-auto.wp-block-spacer {
		height: 0px !important;
	}

	/****************************************
    *   Modifiers
    ****************************************/

	&--shadow {
		box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
	}

	&--hover {
		transition: all 300ms;

		&:hover {
			transform: scale(1.05);
		}

		&.card--shadow:hover {
			box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		}
	}

	&__image img {
		transform: scale(1);
		transition: all 300ms ease-in-out;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&--image-top {
		flex-direction: column;

		.card__image {
			aspect-ratio: 16/9;
			width: 100%;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			img {
			}
		}

		.card__badge {
			right: 1rem;
			top: 1rem;
		}

		.card__label {
			top: 0;
			margin-left: -0.5rem;
			transform: translate(0, -50%);
		}
	}

	&--white,
	&.bg-white {
		background-color: var(--white);
		color: var(--black);
	}

	&__image--loading {
		place-items: center;
		display: grid;
		aspect-ratio: 16/9;
		height: 100%;
		background: var(--primary-light);
	}

	h4 {
		margin: 0;
		font-size: 1.25rem;
	}

	&--image-right {
		flex-direction: row-reverse;

		.card__badge {
			right: 1rem;
			top: 1rem;
		}

		.card__image {
			align-self: stretch;
			aspect-ratio: 1/1;
			height: 100%;
			width: 33%;
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;

			img {
				aspect-ratio: 1/1;
			}
		}

		.card__label {
			left: 0;
			margin-left: 1rem;
		}

		.card-content {
			flex: 1;
		}
	}

	&--image-bottom {
		flex-direction: column-reverse;

		.card__image {
			aspect-ratio: 16/9;
			width: 100%;
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;
			img {
			}
		}

		.card__badge {
			right: 1rem;
			bottom: 1rem;
		}
	}

	&--image-left {
		flex-direction: row;

		.card__badge {
			left: 1rem;
			top: 1rem;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
			img {
			}
		}

		.card__image {
			width: 33%;
			aspect-ratio: 1/1;

			img {
				aspect-ratio: 1/1;
			}
		}

		.card__content {
			flex: 1;
		}

		.card__title {
			font-size: 1rem;
			font-weight: 600;
		}

		.card__label {
			right: 1rem;
			top: 0;
			transform: translate(0, -50%);
		}
	}

	&--no-image {
		flex-direction: column;

		.card__label {
			right: 1rem;
			left: auto;
		}

		.card__badge {
			margin-top: -1rem;
			margin-left: -1rem;
		}
	}

	&--primary {
		.card__badge,
		.card__label {
			background-color: var(--primary);
			color: var(--primary-contrast);
		}
	}

	&__image-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.7);
		padding: 1rem 1.5rem;
		border-top-right-radius: 1.5rem;
		backdrop-filter: blur(5px);
		max-width: 80%;

		.card__subtitle {
			color: var(--gray-800);
		}
	}

	/****************************************
    *   Elements
    ****************************************/

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 1rem 1rem;
		flex-grow: 1;

		label.card__label {
			margin-top: -1.75rem;
			margin-left: 0.5rem;
			left: 1rem;
		}
	}

	&__title,
	h1,
	h2,
	h3 {
		font-weight: 500;
		font-size: 1.5rem;
		margin: 0;
	}

	&card__title--small {
		font-size: 1rem;
		font-weight: 600;
	}

	&__text,
	.description {
		margin-top: 1rem;
		margin-bottom: 1rem;
		overflow: hidden;
	}

	// Legacy
	&__footer {
		margin-top: auto;
		padding-top: 0.5rem;
		display: flex;
		align-items: center;

		&--dotted {
			border-top: 4px dotted #999999;
		}
	}

	hr {
		margin-top: auto;
		padding: 0.5rem 0rem 0;
		width: auto !important;
		margin-left: -1.25rem;
		margin-right: -1.25rem;
		border-bottom: 4px dotted #999999;
	}

	&__actions {
		justify-self: flex-start;
		margin-left: -1rem;
	}

	&__hidden-link {
		position: static;

		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			left: 0;
			bottom: 0;
			top: 0;
			right: 0;
			pointer-events: visibleFill;
		}
	}

	&__supplemental {
		justify-self: flex-end;
		margin-left: auto;
	}

	&__badge {
		aspect-ratio: 1/1;
		border-radius: 9999px;
		display: flex;
		z-index: 1;
		flex-direction: column;
		position: absolute;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;

		&__day {
			font-size: 1rem;
			line-height: 0.7rem;
			font-weight: 600;
		}

		&__month {
			line-height: 0.8rem;
			font-size: 0.75rem;
			font-weight: 500;
		}
	}

	&__svg {
		padding: 1rem;
		display: grid;
		place-items: center;
	}

	&__image {
		position: relative;
		overflow: hidden;
	}

	&__label {
		position: absolute;
		border-top-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	&__image-label {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background: #fff;
		border-radius: 999px;
		padding-right: 1rem;
		right: 1rem;
		top: 1rem;
		color: var(--black);
		margin-top: 0 !important;
		padding-left: 0 !important;

		img {
			width: 2.5rem;
			border-radius: 999px;
		}
	}

	&--loading {
		.card__image,
		.card__title,
		.card__text {
			background: linear-gradient(
				110deg,
				#ececec 8%,
				#f5f5f5 18%,
				#ececec 33%
			);

			background-size: 200% 100%;
			animation: 1s shine linear infinite;
		}

		.card__image {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.card__content {
			padding: 20px;
		}

		.card__title {
			height: 30px;
		}

		.card__text {
			height: 70px;
			width: 80%;
		}
	}

	&--center {
		text-align: center;
		align-items: center;
	}

	@keyframes shine {
		to {
			background-position-x: -200%;
		}
	}
}
