  
.ctx-buttons-right .ctx-button {
    margin-left: 10px;
}


.ctx-buttons-left .ctx-button {
    margin-right: 10px;
}


.ctx-buttons-center .ctx-button {
    margin-left: 5px;
    margin-right: 5px;
}