.ctx-buttons-right {
    justify-content: flex-end;
}

.ctx-buttons-center {
    justify-content: center;
}

.ctx-buttons {
    display: flex;
	gap: 1rem;
	align-items: center;
}

.ctx-buttons > .block-list-appender {
    position: relative;
}