.ctx\:buttons {
    display: flex;
	margin-top: 5px;
	gap: 1rem;
	align-items: center;
	border: 1px dashed #bbb;

	&__center {
		justify-content: center;
	}

	&__right {
		justify-content: flex-end;
	}
}

.ctx-buttons > .block-list-appender {
    position: relative;
}