// Style definitions for the whole Project. In contrast to common.scss,
// this file is included only once.

.ctx-appender__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    outline: 1px dashed #8d96a0;
    width: 100%;
    color: #555d66;
    background: rgba(237,239,240,.8);

    &:hover {
        outline: 1px dashed #555d66;
        color: #191e23;
        background: rgba(237,239,240,.8) !important;
        box-shadow: none !important;
    }
}

.ctx-blocks-appender {
    margin-top: 28px;
}

.ctx-text-align-center {
    text-align: center;
}

.ctx-text-align-right {
    text-align: right;
}


.ctx\:control {
	display: flex;
    gap: 5px;
    margin-top: 5px;

	&__appender {
		position: relative;
		line-height: 1.2rem;
		background: #1e1e1e;
		padding: 0 1px;
		border: 1px solud;
		border-radius: 2px;
		font-style: italic;
		color: #fff;
		font-style: normal;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			background: #017cba;
		}

		svg {
			fill: #fff;
		}
	}

	&__label {
		background: rgba(0,0,0,0.1);
		line-height: 1.2rem;
		border: 1px dashed rgba(0,0,0,0.3);
		padding-left: 5px;
		padding-right: 5px;
		font-size: 10px;
		display: inline-flex;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
		color: rgba(0,0,0,0.7);
		align-items: center;
		gap: 5px;
	}

	&__icons {
		height: 18px;
	}

	&__icon {
		height:18px;
		width: 18px;
		opacity: 0.6;
	}
}