.wp-block-ctx-blocks-nav {
        list-style-type: none;

	ul { 
		border: 1px dashed #bbb; 
		padding: 5px;
    	margin-top: 5px;
	}
    li.nav-item {
        display: flex;
        align-items: center;

        &.active {
            color: #007cba;
        }
    }
}