.wp-block-ctx-blocks-nav {
    
        list-style-type: none;
        margin-left: 0px !important;
        padding-left: 0px !important;

    li.nav-item {
        display: flex;
        align-items: center;

        &.active {
            color: #007cba;
        }
    }
}