.ctx-image-position {
    margin-top: 14px;
    .components-radio-control__option {
        label {
          display:none !important;
        }
    }
    .components-radio-control__option {
      width: 30%;
      margin-bottom: 12px !important;
      margin-top: 12px !important;
      text-align: center;
    }
  
  
    .components-base-control .components-base-control__field {
      margin-bottom: 8px;
      display: flex;
      justify-items: flex-start;
      flex-wrap: wrap;
    }
    .components-base-control .components-base-control__label {
      display: block;
      margin-bottom: 4px;
      width: 100%;
    }
  }

.ctx\:section {
	&__container {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
	}
}
  
div[data-type="ctx-blocks/section"] {
	border: 1px dashed rgba(0, 0, 0, 0.3);
	position: relative;
	max-width: 100%;
	width:100%;
	.ctx-container {
		
	}
}

  .section__label {
	  display: inline-block;
	  position: absolute;
	  left: 5px;
	  top: 5px;
  }