.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// ugly hack for URL-Input-Field width
.components-panel__body .block-editor-url-input input {
  width: 100% !important;
}

.ctx-placement {
  margin-top: 14px;
}

.ctx-card-hover:hover {
  box-shadow: 0px 1px 7px rgba(0,0,0,0.5);
}



.ctx-grabber label {
  font-size: 12px;
  margin-left: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: bold;
  color: #444;
}
.ctx-grabber {
  background: rgba(0, 0, 0, 0.1);
  line-height: 1.2rem;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  visibility: hidden;
}

div[data-type="ctx-blocks/card"]:hover {
.ctx-grabber {
  visibility: visible;
}
}

.ctx-image-round img {
  border-radius: 100%;
}

.ctx-image-border img {
  border: 3px solid #fff;
}

.ctx-card {
  display:flex;

  &.image-col-reverse {
    flex-direction: column-reverse;
  }

  &.image-col {
    flex-direction: column;
  }

  &.image-row {
    flex-direction: row;
    img {
      max-width: 50%;
    }
  }

  &.image-row-reverse {
    flex-direction: row-reverse;
    img {
      max-width: 50%;
    }
  }
  .content {
    display: block;
  }
}

