.ctx\:card {
	position: relative;
	display: flex;
	padding: 0 !important;

	&--right {
		align-items: flex-end;
		text-align: right;
	}
	&--right {
		align-items: center;
		text-align: center;
	}
	&__label {
		margin-bottom: 5px;
	}

	&__shadow {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	&__badge {
		position: absolute;
		border-radius: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		aspect-ratio: 1/1;
	}

	label {
		position: absolute;
		top: 0;
		margin-top: -11px;
		padding: 1px 5px;
	}

	&__image--top {
		label {
			left: 10px;
		}
		flex-direction: column;
		img {
			width: 100%;
			aspect-ratio: 16/9;
			object-fit: cover;
			border-top-right-radius: inherit;
			border-top-left-radius: inherit;
		}
		.ctx\:card__badge {
			right: 10px;
			top: 10px;
		}
	}

	&__image--bottom {
		flex-direction: column-reverse;
		img {
			width: 100%;
			aspect-ratio: 16/9;
			object-fit: cover;
			border-bottom-right-radius: inherit;
			border-bottom-left-radius: inherit;
		}
		.ctx\:card__badge {
			right: 10px;
			bottom: 10px;
		}
	}

	&__image--left {
		flex-direction: row;
		align-items: center;
		img {
			width: 33%;
			aspect-ratio: 1/1;
			height: revert;
			align-self: stretch;
			object-fit: cover;
			border-bottom-left-radius: inherit;
			border-top-left-radius: inherit;
		}
		.ctx\:card__badge {
			left: 10px;
			top: 10px;
		}
	}

	&__image--right {
		flex-direction: row-reverse;
		align-items: center;
		img {
			width: 33%;
			aspect-ratio: 1/1;
			height: revert;
			align-self: stretch;
			object-fit: cover;
			border-bottom-right-radius: inherit;
			border-top-right-radius: inherit;
		}
		.ctx\:card__badge {
			right: 10px;
			top: 10px;
		}
	}

	&__content {
		padding: 15px;
		position: relative;
		flex: 1;

		.block-editor-block-list__layout {
		}
	}
}

.imagePositionSelector {
	margin-top: 10px;
	margin-bottom: 20px;

	Button {
		flex-direction: column;
		height: 70px;
		background: #eee;
		width: 56px;
		font-size: 11px;
		border: 2px solid #eee;
		margin-left: 5px;

		&.active {
			border: 2px solid #007cba;
		}
	}
}
