.ctx-animate-on-scroll {
	transition: all 600ms ease-in-out;

	&.ctx-fade-in-left {
		transform: translateX(-100px);
		opacity: 0;

		&.ctx-animate-start {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&.ctx-fade-in-right {
		transform: translateX(100px);
		opacity: 0;

		&.ctx-animate-start {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	&.ctx-fade-in-up {
		transform: translateY(100px);
		opacity: 0;

		&.ctx-animate-start {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&.ctx-fade-in-down {
		transform: translateY(-100px);
		opacity: 0;

		&.ctx-animate-start {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&.ctx-fade-in {
		transition: all 600ms ease-in-out opacity 1000ms ease-in-out;
		opacity: 0;

		&.ctx-animate-start {
			opacity: 1;
		}
	}

	&.ctx-fade-out {
		opacity: 1;

		&.ctx-animate-start {
			opacity: 0;
		}
	}

	&.ctx-zoom-in {
		transform: scale(0.5);
		opacity: 0;

		&.ctx-animate-start {
			transform: scale(1);
			opacity: 1;
		}
	}

	&.ctx-flip-in-x {
		backface-visibility: hidden !important;
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;

		&.ctx-animate-start {
			transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
			opacity: 1;
		}
	}

	&.ctx-bounce-in {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);

		&.ctx-animate-start {
			animation: bounceIn 1s both;
		}
	}
}

@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
