{% set bg = get_color_by_slug(alertColor) %}

<div style="background: {{bg.color}};" class="{{bg.brightness}} alert">
    <h3 class="core-block">{{title}}</h3>
    <p class="core-block">{{alertText}}</p>
</div>