{# 
# Button Group block template
#
# Attributes
#
# string 	textAlignment ("left", "right", "center"
# int 		paddingTop
# int 		paddingBottom
#
#}

<div style="{{ get_style(style)}}" class="button-group button-group--{{textAlignment}}">
{{ content|raw }}
</div>