{# 
# Button Group block template
#
# Attributes
#
# string 	textAlignment ("left", "right", "center"
# int 		paddingTop
# int 		paddingBottom
#
#}

<div class="button-group button-group--{{textAlignment}}" style="padding-top: {{paddingTop / 4}}rem; padding-bottom: {{paddingBottom / 4}}rem">
{{ content|raw }}
</div>