<li class="description-item">
    {% if image.subtype == 'svg+xml' %}
        <figure>
        {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
        </figure>
    {% else %}
        <img src="{{image.sizes.qmedium.url}}">
    {% endif %}
    <div class="">
        <b>{{title}}</b>
        <span class="block">{{text}}</span>
    </div>
</li>


