{#
# Description-List Block template	 
#
# Attributes
#
# bool		dididers
#
#}

<div style="{{style}}" class="{{className}} description {{ dividers ? "description--dividers" }}">
    {{content}}
</div>