{#
# Nav Block template	 
#
# Attributes
#
# bool		dropDown
# integer	depth
# bool		showIcons
# bool		isPrimary
# bool		showActive
# int		parentPage
# int		parentCategory
# string	dataType		[post, page, category]
# integer	limit
# string	order
# string	orderby			[date, title, id]
# string	textAlignment	[left, right, center]
#
# Objects
#
# Array		data
#
#}

<ul class="nav {{ isPrimary ? "nav--large" }}">
    {% for item in data %}
        <li class=="nav__item {% if function("get_the_ID") == item.ID %}nav__item--active{% endif %}">  
            <a class=" nav__link" href="{{ function("get_permalink", item.ID) }}">
                {% if showIcons %}
                    <i class="material-icons nav__icon">label</i>
                {% endif %}
                <span class="nav__title">{{item.post_title}}</span>
            </a>
        </li>
    {% endfor %}
</ul>