.wp-block-ctx-blocks-accordion-item {

    div.ctx-title-holder {
        font-weight: bold;
        border-radius: 0px;
        border: none;
        padding: 5px;
        margin: 0px -5px 0px -5px;
    }

}
