/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


.ctx-appender__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px;
    outline: 1px dashed #8d96a0;
    width: 100%;
    color: #555d66;
    background: rgba(237,239,240,.8);

    &:hover {
        outline: 1px dashed #555d66;
        color: #191e23;
        background: rgba(237,239,240,.8) !important;
        box-shadow: none !important;
    }
}

.ctx-blocks-appender {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 28px;
}