.ctx-col-header {
    background: rgba(0,0,0,0.1);
    line-height: 1.2rem;
    border: 1px dashed rgba(0,0,0,0.3);
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    
    label {
        font-size: 12px;
        margin-left: 10px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-weight: bold;
        color: #444;
    }
}


div[data-width="1"] {
    width: 25% !important;
}

div[data-width="2"] {
    width: 33% !important;
}

div[data-width="3"] {
    width: 50% !important;
}

div[data-width="4"] {
    width: 66% !important;
}

div[data-width="5"] {
    width: 75% !important;
}

div[data-width="6"] {
    width: 100% !important;
}

