.ctx-row-header {
    background: rgba(0,0,0,0.1);
    line-height: 1.2rem;
    border: 1px dashed rgba(0,0,0,0.3);
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    label {
        font-size: 12px;
        margin-left: 10px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-weight: bold;
        color: #444;
    }

    display: flex;
    align-items: center;
    .ctx-row-icons {
        margin-left: auto;
        padding-right: 10px;;
        display: flex;
        align-items: center;
        .ctx-row-icon {
            height: 16px;
            width: 16px;
            opacity: 0.8;
        }
    }
}

div[data-type="ctx-blocks/grid-row"]:hover {
    .ctx-row-header, .ctx-col-header, .block-list-appender {
        visibility: visible;
    }
}


.ctx-row-flex > div > div {
    display: flex;
    flex-wrap: wrap;
}

.ctx-row-flex > div > div > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.ctx-row-cols-1 > div > div > div {
    width: 100%
}
.ctx-row-cols-2 > div > div > div {
    width: 50%
}
.ctx-row-cols-3 > div > div > div {
    width: 33%
}
.ctx-row-cols-4 > div > div > div {
    width: 25%
}
.ctx-row-cols-5 > div > div > div {
    width: 20%
}
.ctx-row-cols-6 > div > div > div {
    width: 16%
}

.ctx-col {
    margin-left: 2px;
    margin-right: 2px;
}

.ctx-row-flex {

    .block-list-appender {
        display: block !important;
        margin-top: 28px;
    }

    .ctx-blocks-appender {
		margin-left: 2px;
		margin-right: 2px;
		margin-top: 1px;
	}

	.ctx-appender__toggle {
        padding-top: 70px;
        padding-bottom: 70px;
        margin-top: 28px;
        background: rgba(255, 255, 255, 0.8);
    }

    &.is-selected,
	&.has-child-selected {

		.block-list-appender {
			display: block;
		}
	}
}

.ctx-appender-col-header {
    background-image: linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 100%);
    background-size: 28.28px 28.28px;
    height: 32px;
    opacity: 0;
}



div[data-type="ctx-blocks/grid-row"] {
    margin-left: -2px;
    margin-right: -2px;
}

