/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ctx-blocks-button {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.ctx-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	display: flex;
	align-items: center;
	gap: 7px;

	&.reverse {
		flex-direction: row-reverse;
	}
}

// Ugly Hack to limit URL input width.
.components-panel__body .block-editor-url-input input {
	width: 100% !important;
}

.backdrop {
	position: fixed;
	display: grid;
	place-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.ctx-modal {
	background: #fff;
	padding: 50px;
	box-shadow: 0px 3px 20px #000;
	z-index: 2;
	&.full {
		width: 100%;
		height: 100%;
		position: fixed;
		box-shadow: none !important;
	}
}

.ctx-style-selector Button {
	flex-direction: column;
	height: 70px;
	background: #eee;
	width: 70px;
	border: 2px solid #eee;
	margin-right: 5px;

	&.active {
		border: 2px solid #007cba;
	}
}

.ctx-style-selector {
	padding-top: 10px;
	padding-bottom: 22px;
}
